<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title tabbable-line">
                <div class="caption caption-md">
                    <i class="icon-globe theme-font hide"></i>
                    <span class="caption-subject font-blue-madison bold uppercase">User Account</span>
                </div>
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#" data-target="#tab_1_1" data-toggle="tab">Personal Info</a>
                    </li>
                    <li>
                        <a href="#" data-target="#tab_1_2" data-toggle="tab">Change Avatar</a>
                    </li>
                    <li>
                        <a href="#" data-target="#tab_1_3" data-toggle="tab">Change Password</a>
                    </li>
                </ul>
            </div>
            <div class="portlet-body">
                <div class="tab-content">
                    <!-- PERSONAL INFO TAB -->
                    <div class="tab-pane active" id="tab_1_1">
                        <form role="form" action="#">
                            <div class="form-group">
                                <label class="control-label">First Name</label>
                                <input type="text"  class="form-control" /> </div>
                            <div class="form-group">
                                <label class="control-label">Last Name</label>
                                <input type="text"  class="form-control" /> </div>
                            <div class="form-group">
                                <label class="control-label">Email</label>
                                <input type="text"  class="form-control" /> </div>
                            <div class="form-group">
                                <label class="control-label">Phone Number</label>
                                <input type="text"  class="form-control" /> </div>
                            <div class="form-group">
                                <label class="control-label">Password</label>
                                <input type="password" class="form-control" /> </div>
                            <div class="form-group">
                                <label class="control-label">Re-type Password</label>
                                <input type="password" class="form-control" /> </div>
                            <div class="margiv-top-10">
                                <a href="#" class="btn green-haze"> Save Changes </a>
                                <a href="#" class="btn default"> Cancel </a>
                            </div>
                        </form>
                    </div>
                    <!-- END PERSONAL INFO TAB -->
                    <!-- CHANGE AVATAR TAB -->
                    <div class="tab-pane" id="tab_1_2">
                        <form action="#" role="form">
                            <div class="form-group">
                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                    <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                                        <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt="" /> </div>
                                    <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"> </div>
                                    <div>
                                        <span class="btn default btn-file">
                                            <span class="fileinput-new"> Select image </span>
                                            <span class="fileinput-exists"> Change </span>
                                            <input type="file" name="..."> </span>
                                        <a href="#" class="btn default fileinput-exists" data-dismiss="fileinput"> Remove </a>
                                    </div>
                                </div>
                            </div>
                            <div class="margin-top-10">
                                <a href="#" class="btn green-haze"> Submit </a>
                                <a href="#" class="btn default"> Cancel </a>
                            </div>
                        </form>
                    </div>
                    <!-- END CHANGE AVATAR TAB -->
                    <!-- CHANGE PASSWORD TAB -->
                    <div class="tab-pane" id="tab_1_3">
                        <form action="#">
                            <div class="form-group">
                                <label class="control-label">Current Password</label>
                                <input type="password" class="form-control" /> </div>
                            <div class="form-group last password-strength">
                                <label class="control-label ">Password</label>
                                <input type="text" class="form-control" name="password" id="password_strength">
                            </div>
                            <div class="form-group">
                                <label class="control-label">Re-type New Password</label>
                                <input type="password" class="form-control" /> </div>
                            <div class="margin-top-10">
                                <a href="#" class="btn green-haze"> Change Password </a>
                                <a href="#" class="btn default"> Cancel </a>
                            </div>
                        </form>
                    </div>
                    <!-- END CHANGE PASSWORD TAB -->
                </div>
            </div>
        </div>
    </div>
</div>