<div class="row">
    <div class="col-md-4">
        <!-- BEGIN PORTLET -->
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <i class="icon-bar-chart theme-font hide"></i>
                    <span class="caption-subject font-blue-madison bold uppercase">Conversations</span>
                    <span class="caption-helper">Active</span>
                </div>
<!--                 <div class="inputs">
                    <div class="portlet-input input-inline input-small ">
                        <div class="input-icon right">
                            <i class="icon-magnifier"></i>
                            <input type="text" class="form-control form-control-solid" placeholder="search..."> </div>
                    </div>
                </div> -->
            </div>
            <div class="portlet-body">
                <div class="scroller" style="height: 485px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
                    <div class="general-item-list">
                        <div class="item">
                            <div class="item-head">
                                <div class="item-details">

                                    <a href="" class="item-name primary-link">John Doe </a>
                                    <span class="item-label">Telegram</span>
                                </div>
                                <span class="item-status">
                                    <span class="badge badge-empty badge-success"></span> Good</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item-head">
                                <div class="item-details">

                                    <a href="" class="item-name primary-link">Jane Doe</a>
                                    <span class="item-label">Telegram</span>
                                </div>
                                <span class="item-status">
                                    <span class="badge badge-empty badge-warning"></span> Acceptable</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item-head">
                                <div class="item-details">

                                    <a href="" class="item-name primary-link">Ann Doe</a>
                                    <span class="item-label">PesaBot</span>
                                </div>
                                <span class="item-status">
                                    <span class="badge badge-empty badge-primary"></span> Good</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item-head">
                                <div class="item-details">

                                    <a href="" class="item-name primary-link">Tom Doe</a>
                                    <span class="item-label">Messenger</span>
                                </div>
                                <span class="item-status">
                                    <span class="badge badge-empty badge-danger"></span> Failing</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item-head">
                                <div class="item-details">

                                    <a href="" class="item-name primary-link">Richard Stone</a>
                                    <span class="item-label">Telegram</span>
                                </div>
                                <span class="item-status">
                                    <span class="badge badge-empty badge-danger"></span> Failing</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item-head">
                                <div class="item-details">

                                    <a href="" class="item-name primary-link">Dan</a>
                                    <span class="item-label">Pesabot</span>
                                </div>
                                <span class="item-status">
                                    <span class="badge badge-empty badge-warning"></span> Acceptable</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item-head">
                                <div class="item-details">

                                    <a href="" class="item-name primary-link">Larry</a>
                                    <span class="item-label">Messenger</span>
                                </div>
                                <span class="item-status">
                                    <span class="badge badge-empty badge-success"></span> Good</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PORTLET -->
    </div>
    <div class="col-md-8">
        <!-- BEGIN PORTLET -->
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <i class="icon-bar-chart theme-font hide"></i>
                    <span class="caption-subject font-blue-madison bold uppercase">Conversations</span>
                    <span class="caption-helper">Active</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="scroller" style="height: 485px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">

                </div>
            </div>
        </div>
        <!-- END PORTLET -->
    </div>
</div>
<!-- BEGIN MAIN JS-->
<script>
    Profile.init(); // init page demo
</script>
<!-- BEGIN MAIN JS -->