<!-- BEGIN PAGE HEADER-->
<h3 class="page-title"> Register Bot</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a ui-sref="dashboard">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a ui-sref="registerbot">Register Bot</a>
        </li>
    </ul>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row" ng-controller="RegisterBotController">
    <div class="col-md-12">
        <!-- BEGIN PROFILE SIDEBAR -->
            <!-- PORTLET MAIN -->
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light">
                        <div class="portlet-title tabbable-line">
                            <div class="caption caption-md">
                                <i class="icon-globe theme-font hide"></i>
                                <span class="caption-subject font-blue-madison bold uppercase"></span>
                            </div>
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#" data-target="#tab_1_1" data-toggle="tab">Company Details</a>
                                </li>
                                <li>
                                    <a href="#" data-target="#tab_1_2" data-toggle="tab">Bot Details</a>
                                </li>
                                <li>
                                    <a href="#" data-target="#tab_1_3" data-toggle="tab">Agent Details</a>
                                </li>
                            </ul>
                        </div>
                        <div class="portlet-body">
                            <div class="tab-content">
                                <!-- PERSONAL INFO TAB -->
                                <div class="tab-pane active" id="tab_1_1">
                                    <form role="form" action="#">
                                        <div class="form-group">
                                            <label class="control-label">Company Name</label>
                                            <input type="text"  class="form-control" /> </div>
                                        <div class="form-group">
                                            <label class="control-label">Phone Number</label>
                                            <input type="text"  class="form-control" /> </div>
                                        <div class="form-group">
                                            <label class="control-label">Email</label>
                                            <input type="text"  class="form-control" /> </div>

                                        <div class="margiv-top-10">
                                            <a href="#" class="btn green-haze"> Save Changes </a>
                                            <a href="#" class="btn default"> Cancel </a>
                                        </div>
                                    </form>
                                </div>
                                <!-- END PERSONAL INFO TAB -->
                                <!-- CHANGE AVATAR TAB -->
                                <div class="tab-pane" id="tab_1_2">
                                    <form role="form" action="#">
                                        <div class="form-group">
                                            <label class="control-label">Bot Name</label>
                                            <input type="text"  class="form-control" /> 
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Bot Description</label>
                                            <input type="text"  class="form-control" /> 
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Messenger Token</label>
                                            <input type="text"  class="form-control" /> 
                                        </div>
                                        <div class="form-group">
                                        <label class="control-label">Telegram Token</label>
                                            <input type="text"  class="form-control" /> </div>
                                        <div class="form-group">
                                            <label class="control-label">PesaBot Token</label>
                                            <input type="text"  class="form-control" /> 
                                        </div>

                                        <div class="margiv-top-10">
                                            <a href="#" class="btn green-haze"> Save Changes </a>
                                            <a href="#" class="btn default"> Cancel </a>
                                        </div>
                                    </form>
                                </div>
                                <!-- END CHANGE AVATAR TAB -->
                                <!-- CHANGE PASSWORD TAB -->
                                <div class="tab-pane" id="tab_1_3">
                                    <form role="form" action="#">
                                        <div class="form-group">
                                            <label class="control-label">Name</label>
                                            <input type="text"  class="form-control" /> 
                                        </div>
                                        <div class="form-group">
                                        <label class="control-label">Email</label>
                                            <input type="text"  class="form-control" /> </div>
                                        <div class="form-group">
                                            <label class="control-label">Phone Number</label>
                                            <input type="text"  class="form-control" /> 
                                        </div>

                                        <div class="margiv-top-10">
                                            <a href="#" class="btn green-haze"> Save Changes </a>
                                            <a href="#" class="btn default"> Cancel </a>
                                        </div>
                                    </form>
                                </div>
                                <!-- END CHANGE PASSWORD TAB -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END PORTLET MAIN -->
        <!-- END BEGIN PROFILE SIDEBAR -->
        <!-- BEGIN PROFILE CONTENT -->
        <div ui-view class="profile-content fade-in-up"> </div>
        <!-- END PROFILE CONTENT -->
    </div>
</div>
<!-- END PAGE CONTENT-->