<!-- BEGIN PAGE HEADER-->
<h3 class="page-title"> Bot Training
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a ui-sref="dashboard">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a ui-sref="training">Bot Training</a>
        </li>
    </ul>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div ng-controller="TrainingController">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <a ui-sref="insurancecovers">
            <div class="training blue-madison">
                <div class="visual">
                </div>
                <div class="details">
                    <div class="number"> Insurance Covers </div>
                </div>
                <div class="more" ui-sref="insurancecovers"> View more
                    <i class="m-icon-swapright m-icon-white"></i>
                </div>
            </div>
        </div>
        </a>
        <a ui-sref="supportedhospitals">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="training blue-madison">
                <div class="visual">
                </div>
                <div class="details">
                    <div class="number"> Supported Hospitals </div>
                </div>
                <div class="more"> View more
                    <i class="m-icon-swapright m-icon-white"></i>
                </div>
            </div>
        </div>
        </a>
        <a ui-sref="specialistdoctors">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="training blue-madison">
                <div class="visual">
                </div>
                <div class="details">
                    <div class="number"> Specialist Doctors </div>
                </div>
                <div class="more" > View more
                    <i class="m-icon-swapright m-icon-white"></i>
                </div>
            </div>
        </div>
        </a>
    </div>
    <div class="row">
    <a ui-sref="mpesa">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="training blue-madison">
                <div class="visual">
                </div>
                <div class="details">
                    <div class="number"> Mpesa Payment </div>
                </div>
                <div class="more" > View more
                    <i class="m-icon-swapright m-icon-white"></i>
                </div>
            </div>
        </div>
        </a>
        <a ui-sref="usercoverdetails">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="training blue-madison">
                <div class="visual">
                </div>
                <div class="details">
                    <div class="number"> User Cover Details </div>
                </div>
                <div class="more"> View more
                    <i class="m-icon-swapright m-icon-white"></i>
                </div>
            </div>
        </div>
        </a>
        <a ui-sref="officelocations">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="training blue-madison">
                <div class="visual">
                </div>
                <div class="details">
                    <div class="number"> Office Locations </div>
                </div>
                <div class="more" > View more
                    <i class="m-icon-swapright m-icon-white"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <a ui-sref="humansupport">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="training blue-madison">
                <div class="visual">
                </div>
                <div class="details">
                    <div class="number"> Human Support </div>
                </div>
                <div class="more"> View more
                    <i class="m-icon-swapright m-icon-white"></i>
                </div>
            </div>
        </div>
        </a>
        <a ui-sref="spendinghistory">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="training blue-madison">
                <div class="visual">
                </div>
                <div class="details">
                    <div class="number"> Spending History </div>
                </div>
                <div class="more"> View more
                    <i class="m-icon-swapright m-icon-white"></i>
                </div>
            </div>
        </div>
        </a>
        <a ui-sref="artificialintelligence">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="training blue-madison">
                <div class="visual">
                </div>
                <div class="details">
                    <div class="number"> Artificial Intelligence </div>
                </div>
                <div class="more"> View more
                    <i class="m-icon-swapright m-icon-white"></i>
                </div>
            </div>
        </div>
        </a>
    </div>
    <div class="row">
    <a ui-sref="aboutus">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="training blue-madison">
                <div class="visual">
                </div>
                <div class="details">
                    <div class="number"> About Us </div>
                </div>
                <div class="more"> View more
                    <i class="m-icon-swapright m-icon-white"></i>
                </div>
            </div>
        </div>
        </a>
        <a ui-sref="paymentmethods">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="training blue-madison">
                <div class="visual">
                </div>
                <div class="details">
                    <div class="number"> Payment Methods </div>
                </div>
                <div class="more"> View more
                    <i class="m-icon-swapright m-icon-white"></i>
                </div>
            </div>
        </div>
        </a>

    </div>
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS-->
<script>
    // call any jquery or angularjs code ehre
</script>
<!-- BEGIN MAIN JS -->