<!-- BEGIN PAGE HEADER-->
<h3 class="page-title"> Add User
    <small>Add new users to the system</small>
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a ui-sref="dashboard">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a ui-sref="uiselect"> Add User</a>
        </li>
    </ul>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered" ng-controller="UISelectController as ctrl">
            <div class="portlet-title">
                <div class="caption font-green-sharp">
                    <i class="icon-settings font-green-sharp"></i>
                    <span class="caption-subject bold uppercase">UI Select Demo</span>
                    <span class="caption-helper"> Selected: {{ctrl.person.selected.name}} </span>
                </div>
                <div class="actions">
                    <a class="btn btn-circle btn-icon-only btn-default" href="#">
                        <i class="icon-cloud-upload"></i>
                    </a>
                    <a class="btn btn-circle btn-icon-only btn-default" href="#">
                        <i class="icon-wrench"></i>
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <form class="form-horizontal" role="form">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Default</label>
                            <div class="col-sm-6">
                                <ui-select ng-model="ctrl.person.selected" theme="bootstrap">
                                    <ui-select-match placeholder="Select or search a person in the list...">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="item in ctrl.people | filter: $select.search">
                                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                                        <small ng-bind-html="item.email | highlight: $select.search"></small>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Grouped</label>
                            <div class="col-sm-6">
                                <ui-select ng-model="ctrl.person.selected" theme="bootstrap">
                                    <ui-select-match placeholder="Select or search a person in the list...">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices group-by="'country'" repeat="item in ctrl.people | filter: $select.search">
                                        <span ng-bind-html="item.name | highlight: $select.search"></span>
                                        <small ng-bind-html="item.email | highlight: $select.search"></small>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">With a clear button</label>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <ui-select allow-clear ng-model="ctrl.person.selected" theme="bootstrap">
                                        <ui-select-match placeholder="Select or search a person in the list...">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="item in ctrl.people | filter: $select.search">
                                            <span ng-bind-html="item.name | highlight: $select.search"></span>
                                            <small ng-bind-html="item.email | highlight: $select.search"></small>
                                        </ui-select-choices>
                                    </ui-select>
                                    <span class="input-group-btn">
                                        <button type="button" ng-click="ctrl.person.selected = undefined" class="btn btn-default">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Disabled</label>
                            <div class="col-sm-6">
                                <ui-select ng-model="ctrl.person.selected" theme="bootstrap" ng-disabled="true">
                                    <ui-select-match placeholder="Select or search a person in the list...">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="item in ctrl.people | filter: $select.search">
                                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                                        <small ng-bind-html="item.email | highlight: $select.search"></small>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" class="btn green">Submit</button>
                                    <button type="button" class="btn default">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS-->
<script>
</script>
<!-- BEGIN MAIN JS -->