<div class="page-sidebar navbar-collapse collapse">
    <!-- BEGIN SIDEBAR MENU -->
    <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
    <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
    <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
    <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" ng-class="{'page-sidebar-menu-closed': settings.layout.pageSidebarClosed}">
        <li class="start">
            <a ui-sref="dashboard">
                <i class="icon-home"></i>
                <span class="title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a ui-sref="conversations">
                <i class="fa fa-comments-o"></i>
                <span class="title">Conversations</span>
            </a>
        </li>

        <li class="nav-item">
            <a ui-sref="registerbot">
                <i class="fa fa-android"></i>
                <span class="title">Register Bot</span>
            </a>
        </li>
        <li class="nav-item">
            <a ui-sref="training">
                <i class="fa fa-wrench"></i>
                <span class="title">Train Bot</span>
            </a>
        </li>
        <li class="nav-item">
            <a ui-sref="analytics">
                <i class="icon-bar-chart"></i>
                <span class="title">Analytics</span>
            </a>
        </li>
        <li class="nav-item">
            <a ui-sref="bulkmessages">
                <i class="fa fa-envelope"></i>
                <span class="title">Bulk Messages</span>
            </a>
        </li>
        <li class="nav-item">
            <a ui-sref="agents">
                <i class="icon-users"></i>
                <span class="title">Users</span>
            </a>
        </li>

        

        
    </ul>
    <!-- END SIDEBAR MENU -->
</div>